<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <p>Start off by searching for your favorite brewery!</p>
      <div class="input-group">
        <input ng-model="model.brewery" type="text" class="form-control"
               placeholder="Harpoon">
        <span class="input-group-btn">
                <button ng-click="model.search(model.brewery)" class="btn btn-primary btn-block">Search</button>
        </span>
      </div>
    </div>
  </div>
</div>
