<!DOCTYPE html>
<html>
<head>
  <title>Beers</title>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Beers</h1>
      <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
          <tbody>
          <tr>
            <td class="media-left">
              <a href="#">
                <img class="img-rounded" src="http://www.evanstonps.sa.edu.au/images/map_placeholder_425.png">
              </a>
            </td>
            <td class="media-body">
              <p> Allagash White<br>
                Brewed with a generous portion of wheat and spiced with coriander and Curaçao orange peel, this beer is fruity, refreshing and slightly butty in appearance.<br>
                First Released: 1995<br>
                Availability: Year-round</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</body>
</html>