<div class="container-fluid">
  <div class="row">
    <div class="main">
      <p>Start off by searching for your favorite brewery or beer!</p>
      <div class="input-group">
        <input ng-model="model.name" type="text" class="form-control"
               placeholder="Harpoon">
        <span class="input-group-btn">
          <button ng-click="model.searchAll(model.name)" class="btn btn-primary btn-block">Search</button>
        </span>
      </div>
      <table class="table table-striped table-hover table-bordered">
        <tbody>
        <tr ng-repeat="item in model.found"
            ng-class="{'success' : $index == selectedFormIndex}"
            ng-click="model.select(item)">
          <td class="media-body">
            <h4>{{item.name}}</h4>
            <p>{{item.type}}<br></p>
            <p> {{item.description}}</p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
